
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 600px;
  padding: 20px;
  width: 500px;
}

.title {
  color: #eee;
  font-family: Montserrat-Regular;
  font-size: 25px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: Montserrat-Regular;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.plaintext {
  color: rgba(160, 73, 73, 0.329);
  font-family: Montserrat-Regular;
  font-size: 13px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}

.warning {
  color: rgba(18, 48, 145, 0.534);
  font-family: Montserrat-Regular;
  font-size: 11px;
  font-weight: 600;
  margin-top: 5px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: Montserrat-Regular;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submitApagado {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
  visibility: hidden;
}

.submit:active {
  background-color: #06b;
}


.container {
  display: flex;
}

.one {
  flex: 0 0 50%;
}

.two {
  flex: 1;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
  width: 100%;
  background-color: #fff;
  }
  th, td {
  font-weight: unset;
  padding-right: 10px;
  }
  .column100 {
  width: 130px;
  padding-left: 25px;
  }
  .column100.column1 {
  width: 265px;
  padding-left: 42px;
  }
  .row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
  }
  .row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
  }
  /*==================================================================
  [ Ver1 ]*/
  .table100.ver1 td {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
  }
  .table100.ver1 th {
  font-family: Montserrat-Medium;
   font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #36304a;
  }
  .table100.ver1 .row100:hover {
  background-color: #f2f2f2;
  }
  .table100.ver1 .hov-column-ver1 {
  background-color: #f2f2f2;
  }
  .table100.ver1 .hov-column-head-ver1 {
  background-color: #484848;
  }
  .table100.ver1 .row100 td:hover {
  background-color: #6c7ae0;
  color: #fff;
  }